block variables
    - var title = 'Самые высокие здания и сооружения'
    
    //-
        словарь для описания меню: элемент меню и название файла
    -
        var dictMenu = { 
            'Главная': 'index.html', 
            'Небоскребы': "#",  
            'Башни': "#", 
            'Список': "#"
        }
    //-
        список файлов с рисунками для раздела сайта images
    - 
        var listImages = ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg', 'image5.jpg']

    
    //-
        словарь для карточек (раздел section): заголовок, рисунок, текст
    - 
        var listSections = [
            {
                'header': 'Бурдж-Халифа в Дубае, ОАЭ',
                'image': 'image7.jpg', 
                'text': 'Небоскрёб высотой 828 метров, самое высокое сооружение в мире. Форма здания напоминает сталагмит.'
            },
            {
                'header': 'Токийское небесное дерево, Япония',
                'image': 'image6.jpg', 
                'text': 'Телевизионная башня в районе Сумида самая высокая среди телебашен мира. Высота телебашни вместе с антенной составляет 634 метра.'
            },
            {
                'header': 'CN Tower, Канада',
                'image': 'image8.jpg', 
                'text': 'Си-Эн Тауэр  — самое высокое свободно стоящее сооружение в мире с 1976 по 2007 год. Его высота составляет 553,33 метра.'
            }
        ]

    -
        var structures = [
        {
            menuItem: "Ворота Запада, США",  /* то, что отобразится в меню */
            pict: "image1_big.jpg", /* ссылка на рисунок */
            /* текст первого абзаца */
            firstP: `Арка в Сент-Луисе, также известная под именем «Врата на запад» — мемориал, являющийся частью Джефферсоновского национального экспансиального мемориала, а также визитной карточкой Сент-Луиса, штат Миссури, США.`,
            /*текст второго абзаца */
            secondP: `Арка была спроектирована финско-американским архитектором Ээро Саариненом в 1947 году. Её высота 192 метра в самой высокой точке, ширина её основания также 192 метра. 
            Таким образом арка является самым высоким памятником на территории США. Её строительство началось 12 февраля 1963 года и было закончено 28 октября 1965 года. Памятник открылся для посетителей 24 июля 1967 года.`
        },
        {
            menuItem: "Авичи-Арена, Швеция", 
            pict: "image2.jpg",
            firstP: `Авичи-Арена - 85-метровая многоцелевая арена в Стокгольме. Второе по величине сферическое сооружение в мире. Место проведения концертов и спортивных мероприятий. 
             Арена находится в микрорайоне Глобен-Сити, созданном специально для неё. Имеет вместимость 16 000 человек во время концертов и 13 850 во время хоккейных матчей.`,
            secondP: `Арена была построена специально к чемпионату мира по хоккею 1989 года и открыта 19 февраля 1989 года. Олицетворяет собой Солнце в Шведской Солнечной системе, крупнейшей в мире модели Солнечной системы.`
        },
        {
            menuItem: "Труба ГРЭС-2, Казахстан", 
            pict: "image3.jpg", 
            firstP: `Железобетонная дымовая труба, построенная в 1987 году, имея высоту 420 м, является самой высокой в мире и занесена в Книгу рекордов Гиннесса. 
             Суммарная масса трубы составляет 60 тысяч тонн, её диаметр у основания составляет 44 м, диаметр устья — 14,2 м.`,	 
            secondP: `ГРЭС-2 вырабатывает электроэнергию из высокозольного экибастузского угля двумя энергоблоками по 500 МВт, имеет установленную мощность 1000 МВт. Два её энергоблока вырабатывают около 12 % всей электроэнергии, 
              производимой в республике. Энергия ГРЭС-2 предназначена для обеспечения севера Казахстана. Потребителями являются десятки предприятий не только Казахстана, но и России.`
        },
        {
            menuItem: "Абрадж аль-Бейт, Саудовская Аравия", 
            dict: "image4.jpg", 
            firstP: `Башни «Абрадж аль-Бейт» являются самыми заметными зданиями в Мекке благодаря своему местоположению. Они находятся напротив (через улицу) от входа в мечеть аль-Харам, во дворе которой находится Кааба, 
             главная святыня ислама. Самая высокая башня в комплексе, которая служит отелем, призвана помочь в обеспечении жильём около 100 тыс. из более чем пяти миллионов паломников, которые ежегодно посещают Мекку для участия в хадже.`,
            secondP: `Самый высокий из небоскрёбов (601 м) — отель «Королевская часовая башня», строительство которого завершилось в 2012 году. Внешне здание отдалённо напоминает Биг-Бен в Лондоне, при этом выше последнего в 6 раз.
             На Королевской башне установлены часы диаметром 43 метра (длина часовой стрелки составляет 17 метров, минутной — 22), расположенные на высоте более 400 метров над землёй. 
             Четыре их циферблата установлены по четырём сторонам света. Часы видны из любого места города, и являются самыми большими и самыми высотными часами в мире.`
        },
        {
            menuItem: "Раффлз-Сити, Китай", 
            pict: "image5.jpg",
            firstP: `Раффлз-Сити — комплекс небоскрёбов, расположенный в китайском городе Чунцин, в деловом районе Юйчжун. Построен в 2019 году. Архитекторами комплекса выступили Моше Сафди и Чунцинский архитектурный институт, владельцем является сингапурская группа CapitaLand.`,
            secondP: `В состав многофункционального комплекса Раффлз-Сити входят восемь высотных башен и обширный подиум, в котором располагаются продуктовый супермаркет, магазины, автосалоны, рестораны, выставочные залы и паркинг. Общая площадь комплекса — свыше 1,1 млн м², 
             в том числе пятиэтажный торговый центр — 230 тыс. м², офисы — 160 тыс. м² и мультиплекс сети CGV — 5,6 тыс. м². В одной из 350-метровых башен Раффлз-Сити расположен пятизвёздочный отель InterContinental, 
             также в комплексе насчитывается 1,4 тыс. жилых апартаментов сети Ascott и 26,4 тыс. парковочных мест.`
        }
        ];